--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.32.0
torch==2.2.0+cpu
torchvision==0.17.0+cpu
numpy==1.24.3
pillow==10.2.0
opencv-python-headless
matplotlib==3.8.2
grad-cam==1.4.8
reportlab==4.0.9
pandas==2.1.4
